<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="adminAccount">
            <h2><span jhiTranslate="dropMeApp.adminAccount.detail.title">Admin Account</span> {{ adminAccount.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dropMeApp.adminAccount.role">Role</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'dropMeApp.ERole.' + adminAccount.role }}">{{ adminAccount.role }}</span>
                </dd>
                <dt><span jhiTranslate="dropMeApp.adminAccount.user">User</span></dt>
                <dd>
                    {{ adminAccount.userLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/admin-account', adminAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
